<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body data-bs-spy="scroll" data-bs-target="#toc">
      

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">

      <div class="container">
        <!-- <div class="row">           -->
          <!-- <div class="col-lg col-sm"> -->
            {{ content }}
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
